In [3]:
import pandas as pd

data = [1, 2, 3, 4, 5]

s= pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [5]:
s = pd.Series(data  = data, index = index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [6]:
# Criando um dicionario
data = {'Linha' + str(i): i for i in range(5)}
data

{'Linha0': 0, 'Linha1': 1, 'Linha2': 2, 'Linha3': 3, 'Linha4': 4}

In [7]:
s= pd.Series(data)
s

Linha0    0
Linha1    1
Linha2    2
Linha3    3
Linha4    4
dtype: int64

In [8]:

#Concatenando DataFrames

data = [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [11]:
df1 = pd.DataFrame(data=data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [12]:
columns =['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [15]:
df1 = pd.DataFrame(data=data, index = index, columns=columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [17]:
data = [(1,2,3), (4,5,6), (7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [32]:
df3 = pd.DataFrame(data=data, index=index, columns=columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [39]:
# Concatenando DataFrames - axis faz a concatenacao de acordo com o eixo
df4 = pd.concat([df1,  df3], axis=1)
df4

        Coluna0  Coluna1  Coluna2  Coluna0  Coluna1  Coluna2
Linha0        A        A        A        1        2        3
Linha1        A        A        A        4        5        6
Linha2        A        A        A        7        8        9